@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");


body{
    padding: 0;
    font-family: "Work Sans";
    margin: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
}

.text{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items:center;
    top: 250px;
}

.text h1{
    font-size: 35px;
    font-weight: 600;
}

.text input {
    border: 2px solid blue;
    border-radius: 8px;
    line-height: 30px;
    width: 300px;
    padding: 7px;
    margin-bottom: 25px;
    font-size: 17px;
    background-color: white;
}
.text button {
    background-color: blue;
    border-radius: 8px;
    border: 0;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 700;
    font-size: 15px;
    color: white;
    line-height: 25px;
    transition: 0.3s ease;
}

.text button:hover{
    background-color: rgb(77, 85, 188);
    box-shadow: rgba(0, 0, 0, 0.6) 0 0 20px;
    transform: scale(1.1);
}


